.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black; 
  padding: 20px; 
}

#chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 800px; 
  border: 2px solid black; 
}
