#chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 480px; 
  border: 2px solid black; 
}

.tile {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.tile :hover{
  cursor: grab;
}
.tile :active{
  cursor: grabbing;
}

.dark-square {
  background-color: rgb(112, 156, 112);
  color: antiquewhite; 
}

.white-square {
  background-color: antiquewhite;
  color: rgb(112, 156, 112); 
}

