.image-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1; 
  }
  
  .button-image {
    width: 100px; 
    height: 100px; 
  }
  
  